<div class="row">
		<div class="col-md-2">
				<h3>Preferences:<h3 />

				<div>
						<span class="lead">Cell</span>
						<select ng-model="cellID">
								<option ng-repeat="cell in cells">{{ $index+1 }}</option>
						</select>
				</div><br />

				<div>
						<span class="lead">Axis 1:</span>
						<div class="radio">
								<label><input type="radio" ng-model="axis" value="xy" >X-Y</label>
						</div>
						<div class="radio">
								<label><input type="radio" ng-model="axis" value="yz" >Y-Z</label>
						</div>
						<div class="radio">
								<label><input type="radio" ng-model="axis" value="xz" >X-Z</label>
						</div>
				</div>

		</div>
		<div class="col-md-10">
				<cell-plot edges="edges" xaxis="xaxis" yaxis="yaxis"></cell-plot>
		</div>
</div>

<!--<div class="row">-->
   <!--<div class="col-md-4">-->
      <!--<p class="loading" ng-show="isLoading">LOADING</p>-->
      <!--<select ng-model="cellID">-->
         <!--<option ng-repeat="cell in cells">{{ $index+1 }}</option>-->
      <!--</select>-->
   <!--</div>-->
   <!--<div class="col-md-2">-->
      <!--<button class="btn btn-default" ng-click="loadCell(cellID)">Load</button>-->
   <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
   <!--<div class="col-lg-6">-->
      <!--<svg id="scatterPlot"></svg>-->
   <!--</div>-->
<!--</div>-->
